@model project_web.Models.Entrada





<div class="row containerAr">
   
        
        <div>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h3 >Crear entradas</h3>
                    <div class="form-group col-md-4 ">
                        <label asp-for="TipoAsiento" class="control-label"></label>
                        <input asp-for="TipoAsiento" class="form-control" />
                        <span asp-validation-for="TipoAsiento" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Disponibles" class="control-label"></label>
                        <input asp-for="Disponibles" class="form-control" />
                        <span asp-validation-for="Disponibles" class="text-danger"></span>
                    </div>

             
                
                    <div class="form-group col-md-4">
                        <label asp-for="Precio" class="control-label"></label>
                        <input asp-for="Precio" class="form-control" />
                        <span asp-validation-for="Precio" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="CreatedBy" class="control-label"></label>
                        <input asp-for="CreatedBy" class="form-control" />

                    </div>
            

                
                    <div class="form-group col-md-4">
                        <label asp-for="UpdatedBy" class="control-label"></label>
                        <input asp-for="UpdatedBy" class="form-control" />

                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="IdEvento" class="control-label"></label>
                        <select asp-for="IdEvento" class="form-control" asp-items="ViewBag.IdEvento"></select>
                    </div>

          

                <div class="d-flex mt-4">

                    <div class="form-group">
                        <input type="submit" value="Crear" class="btn btn-register" />
                    </div>
                    <div>
                        <a class="btn btn-login" asp-action="Index">Regresar</a>
                    </div>
               </div>




     




            </form>
        </div>


   
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
