﻿ /* Navbar container */
.mynavbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

/* Links inside the navbar */
.mynavbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.mydropdown {
    float: left;
    overflow: hidden;
}

    /* Dropdown button */
    .mydropdown .mydropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit; /* Important for vertical align on mobile phones */
        margin: 0; /* Important for vertical align on mobile phones */
    }

    /* Add a red background color to navbar links on hover */
    .mynavbar a:hover, .mydropdown:hover .mydropbtn {
        background-color: rgb(212, 212, 212);
    }

/* Dropdown content (hidden by default) */
.mydropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .mydropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        /* Add a grey background color to dropdown links on hover */
        .mydropdown-content a:hover {
            background-color: #ddd;
        }

/* Show the dropdown menu on hover */
.mydropdown:hover .mydropdown-content {
    display: block;
}



.tablesArea{
    height:60vh;

}

.footerArea {
    background-color: rgb(15, 15, 16);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    color:white;
    font-family:Roboto
   
}


.containerAr{
    height:100vh;

}

.homeContainer {
    position: relative;
    min-height: 100vh;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 50px; /* Footer height */
}

.buttonNewItem{
 background-color:rgb(0, 0, 0);
 margin:20px auto;
 border-radius:10px

}

.buttonNewItem:hover {
    background-color: rgb(28, 18, 79) !important;
}

.buttonNewItem a {
    color: white;
    text-decoration:none;
    font-size:20px;
    font-family:Roboto;
    font-weight:bold;
    
}

.buttonNewItem a svg {
    margin:2px;
}

.headerStyles {
    background-color: rgb(24, 24, 35);
    margin-bottom: 2rem;
}

.links{
    color:white !important;
    font-family:Roboto;
    font-size:20px;

}
.home{
    font-weight:bold;
}

.btn-register {
    background-color: rgb(18, 95, 148) ;
    margin: 0 10px;
    border-color: none !important;
    color: white;
}
    .btn-register:hover {
        background-color: rgb(19, 106, 167);
        margin: 0 10px;
        border-color: none !important;
        color: white;
    }
.btn-login {
    background-color: rgb(40, 138, 122) ;
    margin: 0 10px;
    border-color: none !important;
    color: white;
}

    .btn-login:hover {
        background-color: rgb(55, 169, 154);
        margin: 0 10px;
        border-color: none !important;
        color: white;
    }

.container-carrousel{
    margin-bottom:5rem;
}